.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 10px 1px grey;
}
.logo{
    width: 150px;
}
.nav-items{
    display: flex;
}
.nav-items li {
    padding: 10px;
    margin: 10px;
    
}
.nav-items ul {
    display: flex;
    font-size: 24px;
    padding: 0px 20px;
    list-style-type: none;
    align-items: center;
}
.resturent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.res-card{
 width: 200px;
 height: 300px;
 margin: 10px;
 background-color: #f0f0f0;
 padding: 5px;
 border-radius: 10px;
}
.res-card:hover {
    /* border: 1px solid #000; */
    /* box-shadow: 0 10px blue; */
    /* transition: box-shadow 0.3s; */
    transform: scale(0.95);
    transition-duration: 0.1s;
}
.search{
    padding: 10px;
}
.res-img-logo {
    width: 100%;
    border-radius: 10px;
}
h3, a, span, ul, div{
    font-family: Montserrat;
}
.res-name {
    margin: 0;
}
.res-cusign {
    margin: 0;
    font-weight: normal;
}
.res-details{
    line-height: 20px;
}
.filter-btn{
    padding: 5px;
    margin: 10px;
}